arcade==2.5.5
attrs==20.3.0
blinker==1.4
cffi==1.14.5
click==8.0.1
colorama==0.4.4
cryptography==3.4.6
Flask==2.0.0
googleapis-common-protos==1.53.0
greenlet==1.0.0
gunicorn==20.1.0
httplib2==0.19.1
importlib-metadata==4.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
jws==0.1.3
MarkupSafe==2.0.1
numpy==1.20.1
oauth2client==3.0.0
Pillow==8.1.2
playwright==1.10.0
protobuf==3.16.0rc1
pyarmor==6.6.2
pyarmor-webui==1.2.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pyee==8.1.0
pyglet==1.5.15
pymunk==6.0.0
pyparsing==2.4.7
python-dotenv==0.17.1
python-jwt==2.0.1
pytiled-parser==0.9.4a3
pywin32==300
PyYAML==5.4.1
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.7.2
selenium==3.141.0
selenium-stealth==1.0.6
Shapely==1.7.1
six==1.15.0
TikTokApi==3.9.5
typing-extensions==3.7.4.3
urllib3==1.26.4
watchdog==2.1.2
Werkzeug==2.0.1
zipp==3.4.1
